.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 18px;
}
.old-price-sm {
    text-decoration: line-through;
    font-size: 14px;
    color: #999;
}

.btn-custom {
    color: #fff;
    background: #FF7002;
    border-radius: 5px;
    padding: 5px 10px;
}